.crop-container {
    position: relative;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #256D85;
        border-bottom: 1px solid #256D85;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .crop-list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .crop-item {
        width: calc(50% - 20px);
        border-radius: 4px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        border: 1px solid #256D85;
        color: black;
        cursor: pointer;

        .name {
            color: #256D85;
            font-size: 1.125rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .link {
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-weight: bolder;

            svg {
                font-size: 0.9rem;
                margin-left: 4px;
            }
        }

        &:hover {
            color: white;
            opacity: .7;
            background-color: #256D85;

            .name {
                color: white;
            }

            .link {
                text-decoration: underline;
            }
        }
    }
}

.cropInfo-comtainer {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #256D85;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;

    .title {
        color: #256D85;
        font-size: 1.125rem;
        font-weight: bold;
    }

    .content-list {
        margin-top: 10px;

        .content-item {
            margin-bottom: 5px;
        }
    }
}