.shrimp-button {
    border: solid 1px #256D85;
    border-radius: 4px;
    padding: 10px 30px;
    margin-right: 16px;
    font-size: 1rem;
    width: fit-content;
    background-color: white;
    color: #256D85;
    text-transform: capitalize;
    cursor: pointer;

    &.error {
        background-color: rgb(255, 54, 54);
        border: solid 1px rgb(255, 54, 54);
        color: white;

        &:hover {
            background-color: white;
            border: solid 1px rgb(255, 54, 54);
            color: rgb(255, 54, 54);
        }
    }

    &.delete {
        border: solid 1px rgb(255, 54, 54);
        color: rgb(255, 54, 54);
        margin-bottom: 10px;
        margin-top: 10px;

        &:hover {
            background-color: rgb(255, 54, 54);
            color: white;
        }
    }

    &:hover {
        background-color: #256D85;
        color: white;
    }

    &.disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }

    &.submit {
        background-color: #256D85;
        color: white;
        &:hover {
            opacity: .6;
        }
    }
}