.stat-container {
    width: 100%;
    height: 600px;
    background-color: #DFF6FF;
    padding: 20px;
    margin: 10px 0;

    .stat__name {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        font-size: 1.125rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }

    .stat-chart {
        width: 100%;
        max-height: 400px;
    }
}

.periodField {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .shrimpInput {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;

        .input__title {
            width: auto;
            padding-right: 10px;
        }

        input {
            width: 100px;
        }
    }

    .shrimp-button {
        border: solid 1px #256D85;
        border-radius: 4px;
        padding: 6px 10px;
        margin-left: 16px;
        font-size: 1rem;
        background-color: white;
        color: #256D85;
        text-transform: capitalize;
        height: fit-content;
        cursor: pointer;

        &:hover {
            background-color: #256D85;
            color: white;
        }
    }
}