.form-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;

    &.visible {
        display: flex;
    }

    &.history {
        .shrimpForm {
            position: relative;
            height: 90vh;
            width: 80%;
            overflow: hidden;
        }
        .form__title {
            display: flex;
            justify-content: space-between;
        }
    }

    .shrimpForm {
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        opacity: 1;
    }

    .form__title {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        color: #06283D;
        margin-bottom: 10px;
    }

    .form__button {
        display: flex;
    }
}

.history-container {
    overflow-y: scroll;
    margin-top: 20px;
    height: 80%;

    .history-item {
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        font-size: 1rem;

        .date {
            width: 100%;
            font-weight: bold;
        }
    }
}